* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header {
  display: flex;
  justify-content: end;
}

.navigation {
  text-decoration: underline;
}

#mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission {
  height: 700px;
  width: 1200px;
}
  
#teaOfTheMonth {
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
}

