* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: end;
  text-decoration: underline;
}

#mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission {
  flex: 700px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  align-items: center;
}
  
#tea {
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
}

