* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.navigation {
  display: flex;
  justify-content: end;
  text-decoration: underline;
}

#mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission {
  flex: 700px;
}
  
#tea {
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
}

